<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <title>AJEDREZ</title>
</head>
<body>
  <p id="alInicio" class="principio"></p>
    <header>
      <div class="container">
        <p class="logo"> CRISTO SALVADOR</p>
        <!-- ****************************************************** -->
        <a href="#alInicio"><img src="../media/ESCUDOCARM.png" alt="" class="logoC"></a>
        <a href="../index.html" class="nombre">INICIO </a>
      </div>
    </header> <br><br>
    <!-- ****************************************************************** -->
<h1 class="init">AJEDREZ</h1>
  <h4 class="cita">"No aceptes como Verdad lo que no proviene del Amor, <br> ni aceptes como Amor lo que no proviene de la Verdad"
      <br>EDITH STEIN</h4>


<!-- ****************************************************************** -->

<section id="0">
  <hr>
  <h1> TEMAS</h1>
  <div>
    <ol>
     <li class="li"><a href="#1">INTRODUCCIÓN</a></li>
     <li class="li"><a href="#2">APERTURA</a></li>
     <li class="li"><a href="#3">DEFENSA</a></li>
     <li class="li"><a href="#4"></a></li>
     <li class="li"><a href="#5"></a></li>
     <li class="li"><a href="#6"></a></li>
     <li class="li"><a href="#7"></a></li>

    </ol>

  </div>
</section>
<!-- ****************************************************************** -->

<section id="3">
  <h2 class="subtitulo"></h2>
  <!-- /////////////////////////////////////// -->
  <ol>
    <li><details class="select">
      <summary></summary>
     <div class="master">
      <div class="uno">
        <h4></h4>
        <ol>
           <li ><span class="blancas">  </span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
          <li ><span class="blancas"></span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"></span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
        </ol>
      </div>
      <!-- ******************************** -->
      <div class="dos">
        <h4></h4>
        <ol>
           <li ><span class="blancas">  </span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
          <li ><span class="blancas"></span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"></span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
        </ol>
      </div>
      <!-- ******************************** -->
      <div class="tres">
        <h4></h4>
        <ol>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
        </ol>
      </div>
      <!-- ******************************** -->
      <div class="cuatro">
        <h4></h4>
        <ol>
          <li ><span class="blancas">  </span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
          <li ><span class="blancas"></span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"></span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
        </ol>
      </div>
      <!-- ******************************** -->
      <div class="cinco">
        <h4></h4>
        <ol>
           <li ><span class="blancas">  </span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
          <li ><span class="blancas"></span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"></span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
          <li ><span class="blancas"> </span><span class="negras"> </span></li>
        </ol>
      </div>
      <!-- ******************************** -->

  
    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++ -->
     </div>
      
    </details></li>
    <!-- ****************************** -->

   
  </ol>
  <!-- ////////////////////////////////// -->

</section>
<!-- ****************************************************************** -->





</body>
</html>