<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <!-- /////////////////////////////////////////////// -->
    <section class="control">
      <H2>ENLACES INTERNOS</H2>
      <div class="div"><a href="../lectio/marcos.html" class="a">MARCOS</a> </div>
      <div class="div"><a href="" class="a"></a> </div>
      <div class="div"><a href="" class="a"></a> </div>
     </section>
    <!-- /////////////////////////////////////////////// -->
</body>
</html>