<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <title>APOLOGETICA</title>
</head>
<body>
 <pre>
  <div>
    &lt;section id="00">
  &lt;hr>
  &lt;h1> TEMAS&lt;/h1>
  &lt;div>
    &lt;ol>
      &lt;li class="li">&lt;a href="#01">LECTIO&lt;/a>&lt;/li>
      &lt;li class="li">&lt;a href="#02">MEDITATIO&lt;/a>&lt;/li>
      &lt;li class="li">&lt;a href="#03">ORATIO&lt;/a>&lt;/li>
      &lt;li class="li">&lt;a href="#04">CONTEMPLATIO&lt;/a>&lt;/li>
    
    &lt;/ol>

  &lt;/div>
&lt;/section>
&lt;!-- ****************************************************************** -->
&lt;section id="01">
  &lt;h2 class="titulo">LECTIO ¿Qué dijo el Señor?&lt;/h2>
  &lt;ol> 
    &lt;h2 class="subtitulo">ELEGIR EL TEXTO&lt;/h2>
  
    &lt;OL class="cita">
      &lt;LI >JERUSALÉN&lt;/LI>
      &lt;LI>LATINOAMERICANA&lt;/LI>
      &lt;LI>VERSIÓN GRIEGA (LXX- TISCHENDORF)&lt;/LI>
      &lt;LI>VERSIÓN LATINA (VULGATA)&lt;/LI>
      &lt;LI>VERSIÓN JUDÍA (KADOSH)&lt;/LI>
      &lt;LI>NVI&lt;/LI>
      &lt;LI>RV60&lt;/LI>
      &lt;li>otras&lt;/li>
    &lt;/OL>

    &lt;h2 class="subtitulo">LA LECTURA DEL TEXTO&lt;/h2>
  
    &lt;h2 class="subtitulo">EL AUTOR&lt;/h2>
      &lt;ol class="cita">
        &lt;li>PROFESIÓN&lt;/li>
        &lt;li>LLAMAMIENTO-CONVERSIÓN&lt;/li>
        &lt;li>MISIÒN&lt;/li>
        &lt;li>VIDA&lt;/li>
      &lt;/ol>
 
    &lt;h2 class="subtitulo">EL TEXTO &lt;/h2>
      &lt;ol>
        &lt;li>PROPÓSITO DEL AUTOR&lt;/li>
        &lt;li>ORIGEN DEL TEXTO&lt;/li>
        &lt;li>FECHA DE COMPOSICIÓN&lt;/li>
        &lt;li>IDEAS CENTRALES DEL TEXTO&lt;/li>
      &lt;/ol>
  
    &lt;h2 class="subtitulo">CONTEXTO DE LOS DESTINATARIOS&lt;/h2>
      &lt;ol>
        &lt;li>FACTORES INTERNOS&lt;/li>
        &lt;li>FACTORES EXTERNOS &lt;/li>
        &lt;li>QUÉ EXPECTATIVAS TENIAN&lt;/li>
      &lt;/ol>

    &lt;h2 class="subtitulo">GÉNERO LITERARIO&lt;/h2>
   
    &lt;h2 class="subtitulo">COMENTARIOS PATRÍSTICOS&lt;/h2>
  
    &lt;h2 class="subtitulo">COMENTARIOS MODERNOS&lt;/h2>
  
    &lt;h2 class="subtitulo">EL MENSAJE PARA LOS DESTINATARIOS&lt;/h2>
 

  &lt;/ol>

&lt;/section>
&lt;!-- ****************************************************************** -->
&lt;section id="02">
  &lt;h2 class="subtitulo">MEDITATIO ¿Qué me dice el Señor?&lt;/h2>
 
    &lt;h2 class="cita">RELACIÓN MENSAJE-CRISTIFICACIÓN&lt;/h2>
    &lt;h2 class="cita">RELACIÓN DE LOS DESTINATARIOS Y NOSOTROS&lt;/h2>
    &lt;h2 class="cita">QUE ME DICE A MI/NOSOTROS&lt;/h2>
    &lt;h2 class="cita">ARMONIA CON LO ANTERIORMENTE ORADO&lt;/h2>
 

&lt;/section>
&lt;!-- ****************************************************************** -->
&lt;section id="03">
  &lt;h2 class="subtitulo">ORATIO ¿Qué respondo al Señor?&lt;/h2>
  &lt;ol> 
    &lt;h2 class="cita">RESPUESTAS A TRAVÉS DEL TIEMPO: LOS SANTOS&lt;/h2>
    &lt;h2 class="cita">COMO SE RESPONDE HOY, CON FE O SIN ELLA&lt;/h2>
    &lt;h2 class="cita">RESPUESTAS DE MI ENTORNO&lt;/h2>
    &lt;h2 class="cita">MI RESPUESTA&lt;/h2>
    &lt;h2 class="cita">COMO HACERLA REALIDAD Y VIDA&lt;/h2>
  &lt;/ol>

&lt;/section>
&lt;!-- ****************************************************************** -->
&lt;section id="04">
  &lt;h2 class="subtitulo">CONTEMPLATIO ¿Qué me muestra el Señor?&lt;/h2>
  &lt;ol>
    &lt;li>COMO ACTUA EL SEÑOR EN CADA CIRCUNSTANCIA&lt;/li>
    &lt;li>MODELO DE CONVERSIÓN&lt;/li>
    &lt;li>COMO ME AYUDA A COMPRENDER MEJOR LOS TEXTOS &lt;/li>
    &lt;li>COMO ME AYUDA A CONOCER MEJOR AL SEÑOR&lt;/li>
    &lt;li>COMO APLICARLO A TODAS MIS REALIDADES&lt;/li>
    &lt;li>COMO COMPARTIRLO&lt;/li>
    &lt;li>CONDENSARLO EN UNA ORACIÓN: GRACIAS, PETICIÓN Y CONVERSIÓN&lt;/li>
    &lt;li>HACER UN GRAN MOMENTO DE SILENCIO, PAZ Y DISPONIBILIDAD&lt;/li>

  &lt;/ol>

&lt;/section>
&lt;!-- ****************************************************************** -->
&lt;section id="05">
  &lt;h2 class="subtitulo">&lt;/h2>
  &lt;ol> 
    li*7

  &lt;/ol>

&lt;/section>
&lt;!-- ****************************************************************** -->
&lt;section id="06">
  &lt;h2 class="subtitulo">&lt;/h2>
  &lt;ol> 
    li*7

  &lt;/ol>

&lt;/section>
&lt;!-- ****************************************************************** -->
&lt;section id="07">
  &lt;h2 class="subtitulo">&lt;/h2>
&lt;ol> 
  li*7

&lt;/ol>

&lt;/section>
&lt;!-- ****************************************************************** -->




&lt;/body>
&lt;/html>
  </div>
 </pre>




</body>
</html>