<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>STATIO</title>
  </head>
  <body>
    <p id="alInicio" class="principio"></p>
    <header>
      <div class="container">
        <p class="logo">CRISTO SALVADOR</p>
        <!-- ****************************************************** -->
        <a href="#alInicio"
          ><img src="../media/ESCUDOCARM.png" alt="" class="logoC"
        /></a>
        <a href="./index.html" class="nombre">INICIO </a>
      </div>
    </header>
    <br /><br />
    <!-- ****************************************************************** -->
    <h1 class="init">STATIO</h1>
    <h3 class="cita">
      "No aceptes como Verdad lo que no proviene del Amor, <br />
      ni aceptes como Amor lo que no proviene de la Verdad" <br />EDITH STEIN
    </h3>

    <!-- ****************************************************************** -->

    <section id="0">
      <hr />
      <h1></h1>
      <div>
        <ol>
          <li class="li"><a href="#1">INCEPTUM DIVINUM</a></li>
          <li class="li"><a href="#2">SCIENTIA DOMINI</a></li>
          <li class="li"><a href="#3">DISCERNIMENTUM</a></li>
          <li class="li"><a href="#4">ORATIO</a></li>
          <li class="li"><a href="#5"></a></li>
          <li class="li"><a href="#6"></a></li>
          <li class="li"><a href="#7"></a></li>
        </ol>
      </div>
    </section>
    <!-- ****************************************************************** -->
    <section id="1">
      <div class="statio">
        <h2 class="subtitulo">INCEPTUM DOMINE: Initium semper a Deo</h2>
        <h3 class="statio">
          Iniciativa del Señor: El inicio siempre viene de Dios
        </h3>
      </div>
      <!-- /////////////////////////////////////// -->
      <ol>
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
      </ol>
    </section>
    <!-- ****************************************************************** -->
    <section id="2">
      <div class="statio">
        <h2 class="subtitulo">SCIENTIA DOMINE: Deus semper se totum dat</h2>
        <h3 class="statio">Conocer al Señor: Dios siempre se da del todo</h3>
      </div>
      <!-- /////////////////////////////////////// -->
      <ol>
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->

        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
      </ol>
      <!-- ////////////////////////////////// -->
    </section>
    <!-- ****************************************************************** -->
    <section id="3">
      <div class="statio">
        <h2 class="subtitulo">DISCERNIMENTUM: Eligere Bonum et Facere</h2>
        <h3 class="statio">Discernir: Elegir el Bien y hacerlo</h3>
      </div>
      <!-- /////////////////////////////////////// -->
      <ol>
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
      </ol>
      <!-- ////////////////////////////////// -->
    </section>
    <!-- ****************************************************************** -->
    <section id="4">
      <div class="statio">
        <h2 class="subtitulo">ORATIO: Responsum et Directio</h2>
        <h3 class="statio">Oración: Respuesta y Dirección</h3>
      </div>
      <!-- /////////////////////////////////////// -->
      <ol>
        <li>
          <details class="select">
            <summary>Ad gratiam apertus</summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br />Disposición y apertura a la Gracia</p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary>Propositum</summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br />Finalidad, Objetivo, meta, propósito</p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
      </ol>
      <!-- ++++++++++++++++++++++++++++++++++ -->
      <h3 class="cita statio">Directio</h3>
      <ol>
        <li>
          <details class="select">
            <summary>Ducente Deo</summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br />Con Dios como guía"</p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary>Conversio mentis et cordis</summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br />cambio en la manera de pensar, sentir, creer</p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary>Mutatio cordis in operibus quotidianis</summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br />Cambio del corazón en las obras de cada dia</p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary>Renovatio morum cotidianorum</summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br />Renovación de las costumbres diarias</p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
      </ol>
      <!-- ////////////////////////////////// -->
    </section>
    <!-- ****************************************************************** -->
    <section id="5">
      <h2 class="subtitulo"></h2>
      <!-- /////////////////////////////////////// -->
      <ol>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
      </ol>
      <!-- ////////////////////////////////// -->
    </section>
    <!-- ****************************************************************** -->
    <section id="6">
      <h2 class="subtitulo"></h2>
      <!-- /////////////////////////////////////// -->
      <ol>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
      </ol>
      <!-- ////////////////////////////////// -->
    </section>
    <!-- ****************************************************************** -->
    <section id="7">
      <h2 class="subtitulo"></h2>
      <!-- /////////////////////////////////////// -->
      <ol>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
        <li>
          <details class="select">
            <summary></summary>
            <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <p><br /><br /></p>
          </details>
        </li>
        <!-- ****************************** -->
      </ol>
      <!-- ////////////////////////////////// -->
    </section>
    <!-- ****************************************************************** -->
  </body>
</html>
