body{
  background-color: antiquewhite;
  margin-left:1em ;
}


/* ///////////////////////////////////////////////////////// */


.li{
  border: 1px solid brown;
  width: 90%;
  margin-left: 1em;
  margin-top: 0.3em;
  font-size: 1.5em;
  padding-left: 0.5em;
}

.li>a{
  text-decoration: none;
  color: blue;
}

ol{
  margin-left: 1em;
}

.container{
  display: flex;
  position: fixed;
  border: 5px double rgb(247, 241, 241);
  background-color: rgb(91, 9, 9);
  width: 95%;
  border-radius: 15px;
  color: white;
  font-size: 1.5em; 
  margin: -0.4em;
  margin-top: -0.7em;
  /* flex-direction: column;  
  justify-content: left; 
  flex-direction: row;
  */
}

.contenedor{
  margin: 4%;
}


.logo{
  margin: 1em;
}

.logoC{
  width: 50px;
  border-radius: 20px;
 
}

.init{
  margin-top: 2em;
  border: 4px double brown;
  width: 10em;
  text-align: center;

}

.nombre{
  color: aliceblue;
  margin-top: 1em;
  margin-left: 1em;
}

.nombre:hover{
  color: yellow;
}

.img{
  width: 20em;
}

pre{
  font-size: 18px;
}

h1{
  margin-top: 2em;
}
section{
  padding: 5%;
  margin-left: -4em;
}
.titulo{
  color: red;
  font-size: 1.5em;
}

.cita{
  color: brown;
  font-style: italic;
  font-size: 1.5em;
}
.subtitulo{
  color: darkred;
  margin-left: 1em;
}
.lema{
  color: rgb(243, 36, 13);
  font-size: 1.2em;
  margin-left: 1em;
}

.control{
  border: brown 4px double;
  padding: 1em;
}
.div{
  display: contents;
}

.var{
  background-color: peru;
  color: white;
}

.select{
  border: brown 1px solid;
  font-size: 1.2em;
  width: 90%;
  margin: 0.3em;
  padding: 0.2em;
  margin-left: 1em;
}

summary{
  color: brown;
  font-style: italic;
  font-weight: bold;
  margin-left: 1em;
}

p{
  margin-left: 1em;
}

.footer{
  border: peru 4px double;
  text-align: center;
  border-radius: 1em;
}

.tabla, th, td{
  border: 1px solid brown;
  padding: 0.4em;
}

.negras{
  color: blue;
  margin-left: 2em;
  font-size: 1em;
}

.blancas{
  font-size: 1em;
}

.coment{
  padding-left: 4em;
}

.do{
  font-weight: bold;
}

.select>ol>li{
  margin-bottom: 0.5em;
}

ul {
  list-style: none;
  padding: 0;
}


input[type="checkbox"] {
  margin-right: 10px;
}

.hora{
  color: green;

}

.master{
  display: flex;
}
.cero{
  display: flex;
  margin-left: 1em;
}
.uno{
  border-right: 1px solid brown;
  margin-right: 1em;
  padding-right: 1em;
}
.dos{
  border-right: 1px solid brown;
  margin-right: 1em;
  padding-right: 1em;
}
.tres{
  border-right: 1px solid brown;
  margin-right: 1em;
  padding-right: 1em;
}
.cuatro{
  border-right: 1px solid brown;
  margin-right: 1em;
  padding-right: 1em;
}
.cinco{
  border-right: 1px solid brown;
  margin-right: 1em;
  padding-right: 1em;
}

.boton{
  background-color: brown;
  color: white;
  margin-left: 40%;
  width: 9em;
  height: 2.5em;
  border-radius: 1em;
  margin-top: 1.5em;
}

.tab{
  border-bottom: 1px brown solid;
  margin: 0.5em;
  color: brown;
}

.statio{
  margin-left: 2em;
}

.latin{
  color: brown;
  font-size: 1.5em;
  margin-left: 1em;
  font-style: italic;
  font-weight: bold;
}

.tabla1{
  margin-bottom: 1em;
}